
<button  [ngStyle]="{
    '--color-texto': colorTexto,
    '--color-gradient': colorGradient,
    '--color-hover-gradient': colorHoverGradient,
    '--color-izq': colorIzq,
    '--color-dcha': colorDcha,
    '--color-dcha-light': colorDerechaLight,
    '--color-dcha-lighten' : colorDerechaLighten,
    '--disabled-color-1': disabledColor1,
    '--disabled-color-2': disabledColor2,
    'cursor': isDisabled ? 'not-allowed' : 'pointer'
    }"
    class="button"
    [disabled]="isDisabled"
    (click)="onClick()"
    (change)="onChange($event)"
    [type]="type"
    [title]="buttonText">
    
    <div class="container-text-button" *ngIf="buttonText !== 'Facebook' && buttonText !== 'LinkedIn' && buttonText !== 'X'">

        <ng-container >
            {{ buttonText }}
        </ng-container>

    </div>

    <div class="container-text-button-social" *ngIf="buttonText === 'Facebook' || buttonText === 'LinkedIn' || buttonText === 'X'">

        <div class="social">
            <i class="bi bi-facebook" *ngIf="buttonText === 'Facebook'"></i>
            <i class="bi bi-linkedin" *ngIf="buttonText === 'LinkedIn'"></i>
            <i class="bi bi-twitter" *ngIf="buttonText === 'X'"></i>
        </div>
        

        <ng-container>
           <p  class="text-social" > {{ buttonText }}</p>
        </ng-container>

    </div>
    
</button>
