
<nav class="nav">
    <div class="brand">
        <p class="brand-name">FormuEase</p>
    </div>

    <div class="menu-toggle" (click)="toggleMenu()">
        <!-- Ícono de hamburguesa -->
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="menu" [class.open]="menuOpen">
        <li class="menu-item">
            <a (click)="irA('/home')" class="item-link">Inicio</a>
        </li>
        <li class="menu-item">
            <a (click)="irA('/surveis/create')" class="item-link">Crear encuesta</a>
        </li>
        <li class="menu-item">
            <a (click)="irA('/dashboard')" class="item-link">Dashboard</a>
        </li>
        <li class="menu-item" *ngIf="_authService.getIdentity">
            <a (click)="logout()" fragment="contacto" class="item-link">Salir</a>
        </li>
        <li class="menu-item" *ngIf="_authService.getIdentity" >
            <a (click)="irA('/profile')" class="item-link"><i class="bi bi-person-circle" ></i></a>
        </li>
    </ul>
</nav>
