<nav class="nav">

    <div class="brand">
        <p class="brand-name">
            FormuEase
        </p>
    </div>

    <ul class="menu">

        <li class="menu-item ">
            <a [routerLink]="['/home']" fragment="header" class="item-link active">Inicio</a>
        </li>
        <li class="menu-item">
            <a [routerLink]="['/surveis/create']" class="item-link">Crear encuesta</a>
        </li>
        <li class="menu-item">
            <a href="#" class="item-link">Resultados</a>
        </li>
        <li class="menu-item">
            <a [routerLink]="['/home']" fragment="contacto" class="item-link">Contacto</a>
        </li>
    </ul>
    
</nav>