
<div class="header">

    <div class="container-nav">

        <!--<app-navbar></app-navbar>-->

        <h1 class="header-title">
            <span class="principal-title">
                Preguntas Frecuentes
            </span>
            <span class="text-title">FAQ</span>
        </h1>

    </div>
    
</div>


  <div class="container-terms">
    <div class="privacy-terms-container">
        <!-- Política de Privacidad -->
        <section class="privacy-policy">

            <h2>Preguntas Frecuentes</h2>
  
            <h3>¿Qué servicios ofrece nuestra plataforma?</h3>
            <p>Nuestra plataforma se especializa en:</p>
            <ul>
                <li>Creación de encuestas personalizadas.</li>
                <li>Publicación de encuestas en múltiples canales como correo electrónico, redes sociales, etc.</li>
                <li>Análisis detallado de los resultados mediante herramientas avanzadas de visualización de datos.</li>
            </ul>
    
            <h3>¿Cómo puedo crear una encuesta?</h3>
            <p>Para crear una encuesta, sigue estos pasos:</p>
            <ul>
                <li>Regístrate o inicia sesión en nuestra plataforma.</li>
                <li>Dirígete a la sección "Crear encuesta".</li>
                <li>Diseña tu encuesta utilizando nuestro editor intuitivo, donde puedes:
                    <ul>
                        <li>Incluir una imagen personalizada o dejar la imagen por defecto de nuestra plataforma</li>
                        <li>Agregar preguntas.</li>
                        <li>Seleccionar diferentes tipos de respuesta (opción múltiple, escala, texto libre, etc.).</li>
                    </ul>
                </li>
            <li>Guarda y publica tu encuesta.</li>
            </ul>
    
            <h3>¿En qué canales puedo publicar mis encuestas?</h3>
            <p>Puedes compartir tus encuestas en:</p>
            <ul>
                <li>Redes sociales: Facebook, Twitter y LinkedIn</li>
                <li>Correo electrónico mediante enlace directo.</li>
                <li>Códigos QR para difusión en medios impresos.</li>
            </ul>
    
            <h3>¿Qué tipos de análisis puedo realizar con los resultados?</h3>
            <p>Te ofrecemos:</p>
            <ul>
                <li>Resúmenes rápidos con gráficos y tablas.</li>
                <li>Exportación de resultados en formatos como Excel, CSV y JSON</li>
            </ul>
    
            <h3>¿Cuál es el costo de los servicios?</h3>
            <p><b>Gratuíto:</b>Todos los servicios que ofrecemos son gratuítos</p>
            
            
            <h3>¿Qué soporte ofrecen en caso de dudas o problemas?</h3>
            <p>Nuestro equipo de soporte está disponible para ayudarte mediante:</p>
            <ul>
                <li>Mediante el formulario de la pagina de inicio de de <a [routerLink]="['/home']" fragment="contacto">contacto</a>.</li>
            </ul>
    
            <h3>¿Cómo puedo contactar con ustedes?</h3>
            <p>Puedes comunicarte con nosotros a través de:</p>
            <ul>
                <li>Mediante el formulario de la pagina de inicio de <a [routerLink]="['/home']" fragment="contacto">contacto</a>.</li>
                <li>Redes sociales: Encuéntranos en Facebook, LinkedIn y Twitter.</li>
            </ul>

        </section>
      
</div>

  
  <app-footer></app-footer>
  