/* Footer styles */
.footer {
    color: #a2a2a2;
    padding: 2rem 1.5rem;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }
  
  
  .footer-section p{
     font-size: 1.6rem;
  }
  
  .footer-section h3,
  .footer-section h4 {
    color: black;
    margin-bottom: 1.5rem;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 1rem 0;
  }
  
  .footer-section ul li a {
    color: #a2a2a2;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #5d93ff;
  }
  
  .footer-bottom {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #999;
  }
  
  .footer-texto {
    margin: 3rem 0 0 0;
  }
  
  .copyright span {
    color: black;
  }
  
  .copyright {
    margin-top: 0;
  }
  