<div class="header">

    <div class="container-nav">

        <app-navbar></app-navbar>

        <h1 class="header-title">
            <span class="principal-title">Encuestas Profesionales en Minutos: <br> Diseña, Publica y Recoge Datos con Facilidad.</span>
        </h1>

    </div>
    
</div>

<div class="content">

    <div class="central-content">

        

        <div class="content-text">
            <p class="header-text text-1">
                <i class="bi bi-ui-checks"></i>
                Crea tu formulario y comienza a recopilar información valiosa de manera fácil y rápida. Nuestra herramienta te permite diseñar, personalizar y publicar encuestas en solo minutos, sin necesidad de conocimientos técnicos avanzados. Con una interfaz intuitiva y opciones de personalización flexibles, puedes adaptar cada formulario a tus necesidades, ya sea para investigaciones, encuestas de satisfacción, evaluaciones o simplemente para recopilar opiniones.
            </p>  
            <p class="header-text text-2">
                <i class="bi bi-clipboard-data"></i>
                Simplificamos el proceso de recolección de datos, permitiéndote configurar preguntas de distintos tipos como opciones múltiples, selección de niveles, casillas de verificación, y respuestas abiertas. Personaliza el estilo de tus encuestas para reflejar la identidad de tu marca y genera una experiencia atractiva para tus participantes. Cada formulario es optimizado para dispositivos móviles, de modo que los usuarios pueden responder desde cualquier lugar y en cualquier momento.
            </p> 
            <p class="header-text text-3">
                <i class="bi bi-share-fill"></i>
                Una vez publicado, puedes compartir tus encuestas mediante un enlace directo, o incluso integrarlas en tu sitio web o redes sociales. Obtén resultados en tiempo real y visualiza las respuestas de manera organizada, permitiéndote analizar fácilmente los datos y tomar decisiones informadas. Nuestra plataforma está diseñada para hacer que la recopilación de datos sea eficiente, rápida y profesional.
            </p>
        </div>

        

        <a [routerLink]="['/surveis/create']" class="header-link">Crear encuesta</a>

    </div>
</div>

    

<app-footer></app-footer>
  