<div class="header">
    <div class="container-nav">
      <app-navbar></app-navbar>
      <h1 class="header-title">
        <span class="principal-title">
          Encuestas Profesionales en Minutos
        </span>
        <span class="text-title">
          Diseña, Publica y Recoge Datos con Facilidad
        </span>
      </h1>
    </div>
  </div>
  
  <div class="content">
    <div class="central-content">
      <div class="content-text">
        <div class="group-text">
            <div class="image">
                <img src="../../../../assets/images/more-1.png" alt="">
            </div>
            <p class="header-text">
                Crea tu formulario y comienza a recopilar información valiosa de manera fácil y rápida. Nuestra herramienta te permite diseñar, personalizar y publicar encuestas en solo minutos, sin necesidad de conocimientos técnicos avanzados. Con una interfaz intuitiva y opciones de personalización flexibles, puedes adaptar cada formulario a tus necesidades, ya sea para investigaciones, encuestas de satisfacción, evaluaciones o recopilación de opiniones.
              </p> 
        </div>

        <div class="group-text">
            <div class="image">
                <img src="../../../../assets/images/more-2.png" alt="">
            </div>
            <p class="header-text">
                Simplificamos el proceso de recolección de datos, permitiéndote configurar preguntas de distintos tipos como opciones múltiples, selección de niveles, casillas de verificación y respuestas abiertas. Personaliza el estilo de tus encuestas para reflejar la identidad de tu marca y genera una experiencia atractiva para tus participantes. Cada formulario está optimizado para dispositivos móviles, de modo que los usuarios puedan responder desde cualquier lugar y en cualquier momento.
              </p> 
        </div>

        <div class="group-text">
            <div class="image">
                <img src="../../../../assets/images/more-3.png" alt="">
            </div>
            <p class="header-text">
                Una vez publicado, puedes compartir tus encuestas mediante un enlace directo, o integrarlas en tu sitio web o redes sociales. Obtén resultados en tiempo real y visualiza las respuestas de manera organizada, permitiéndote analizar fácilmente los datos y tomar decisiones informadas. Nuestra plataforma está diseñada para que la recopilación de datos sea eficiente, rápida y profesional.
              </p> 
        </div>

      </div>
      <div class="container-boton-about">
        <lib-boton6 
          [colorTexto]="'#ffffff'"
          [colorIzq]="'#434343'"
          [colorDcha]="'#3333ff'"
          [buttonText]="'Crear encuesta'"
          [type]="'button'"
          [routerLink]="['/surveis/create']">
        </lib-boton6>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
  