<lib-modal-1
    *ngIf="showModal1"
    [text]="modalText1"
    [type]="modalType1"
    (close)="closeModal1()">
</lib-modal-1>

<lib-modal-1
    *ngIf="showModal2"
    [text]="modalText2"
    [type]="modalType2"
    [share]="share"
    [surveyId]="surveySharedId"
    (close)="closeModal2($event)">
</lib-modal-1>

<div class="title-content">
    Encuestas
</div>

<div class="content">

    <div class="content-button">
        <lib-boton6 
            [colorTexto]="'#ffffff'"
            [colorIzq]="'#00aa00'"
            [colorDcha]="'#3333ff'"
            [buttonText]="'Nueva encuesta'"
            [type]="'button'"
            [routerLink]="['/surveis/create']">
        </lib-boton6>
    </div>

    


    <ul class="lista-encuestas" *ngIf="encuestas.length > 0">
        <li class="item-encuestas" *ngFor="let item of encuestas; let i = index">
            <a class="link-encuestas" (click)="mostrarEncuesta(i)">{{item.nombre}}</a>
            <div class="contain-icono">
                <i class="bi bi-share-fill" (click)="clickIconoFill(item.id)"></i>
            </div>
            <div class="container-opciones" [id]="'opciones-' + i">
                <lib-boton6 
                    [colorTexto]="'#ffffff'"
                    [colorIzq]="'#242424'"
                    [colorDcha]="'#3333ff'"
                    [buttonText]="'Ver'"
                    [type]="'button'"
                    (click)="verEncuesta(item)">
                </lib-boton6>
                <lib-boton6 
                    [colorTexto]="'#ffffff'"
                    [colorIzq]="'#242424'"
                    [colorDcha]="'#3333ff'"
                    [buttonText]="'Resultados'"
                    [type]="'button'"
                    [routerLink]="'/dashboard/resultados/' + item.id">
                </lib-boton6>
                <lib-boton6 
                    [colorTexto]="'#ffffff'"
                    [colorIzq]="'#9d0000'"
                    [colorDcha]="'#3333ff'"
                    [buttonText]="'Eliminar'"
                    [type]="'button'"
                    (click)="eliminar(i)">
                </lib-boton6>
            </div>
            
        </li>

        
    </ul>

    

    

    



</div>